<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

     <h2> {{ book.name }} </h2>

    {% for i in book.authors.all %}

        <p>
        <a href="{% url 'new_hw:author_detail'  i.id%}">{{ i }}</a>
        </p>

    {% endfor %}

    <p> {{ book.pubdate }}</p>
    <p> {{ book.pages }} pages</p>
    <p> {{ book.price }}$ </p>
    <p> rating: {{ book.rating }}</p>
    <p> publisher: {{ book.publisher }}</p>
    <p> Selling in:</p>
     {% for i in book.store_set.all %}
         <p>
         <a href="{% url 'new_hw:store_view' i.id%}"> {{ i }}</a>
         </p>
     {% endfor %}
</body>
</html>
